.idea
k8s.iml
helm-charts/kube-prometheus-stack
helm-charts/ingress-nginx
helm-charts/loki
helm-charts/tempo
helm-charts/prometheus-mongodb-exporter
.k8s.iml.swp
.README.md.swp
kafka_2.13-3.5.0.tgz
kafka_2.13-3.5.0
kafka